'Bookmark Manager'
<form action="/add" method="post">
<label for="add_bookmark">
   Add your website
<input type="text" name="add_bookmark">
</label>
<input type="submit" name="add" value="add">
</form>
