<h1>'Bookmark Manager'</h1>

<form action="/add" method="post">
<label for="add_bookmark">
<h4>Add a bookmark:</h4>
<input type="text" name="add_bookmark">
</label>
<input type="submit" name="add" value="add">
</form>
